/* General body styling */
body {
    font-family:"";
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Form container styling */
.form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

/* Headline styling */
.form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Form input styling */
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Submit button styling */
.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #4D0A0A;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #4D0A0A;
}

/* Focus effects for input fields */
input[type="text"]:focus, input[type="password"]:focus {
    border-color: #4D0A0A;
    outline: none;
    box-shadow: 0 0 5px rgba(230, 86, 60, 0.5);
}


