<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Sign Up</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'src/input.css' %}">
    <link rel="icon" href="{% static 'src/images/logo.png' %}" type="image/icon type">
</head>
<body>
    <div class="form-container">
        <h2>Admin Sign Up</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit-btn">Sign Up</button>
        </form>
        <a href="{% url 'admin_login' %}">Login</a>
    </div>
</body>
</html>
